/**
 * Numeric, Navigation and Media Controls Layer
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_2 {
      label = "L2";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4               5                   6               7               8               9               10              11
    &kp ESC         &kp N1          &kp N2          &kp N3          &kp N4          &kp N5              &trans          &trans          &kp UP          &trans          &trans          &kp K_CANCEL
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  12              13              14              15              16              17                  18              19              20              21              22              23
    &sk LCTRL       &kp N6          &kp N7          &kp N8          &kp N9          &kp N0              &trans          &kp LEFT        &kp DOWN        &kp RIGHT       &trans          &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  24              25              26              27              28              29                  30              31              32              33              34              35
    &trans          &trans          &trans          &trans          &sk MEH         &trans              &trans          &sk MEH         &trans          &trans          &trans          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                  36              37              38                  39              40              41
                                                    &bootloader     &trans          &cmo L2             &cmo L2         &out OUT_TOG    &bootloader
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
