/**
 * Function / System Layer
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    layer_3 {
      label = "Fn";
      bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
//  0               1               2               3               4               5                   6               7               8               9               10              11
    &kp GRAVE       &kp F1          &kp F2          &kp F3          &kp F4          &kp F5              &trans          &kp MINUS       &kp EQUAL       &kp LBKT        &kp RBKT        &kp BSLH
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  12              13              14              15              16              17                  18              19              20              21              22              23
    &sk LCTRL       &kp F6          &kp F7          &kp F8          &kp F9          &kp F10             &trans          &kp C_VOL_DN    &kp C_MUTE      &kp C_VOL_UP    &trans          &kp SQT
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//  24              25              26              27              28              29                  30              31              32              33              34              35
    &cmo Fn         &mt LSHFT F11   &mt MEH F12     &kp C_BRI_DN    &kp C_BRI_UP    &trans              &trans          &kp C_PREV      &kp C_PP        &mt MEH C_NEXT  &kp RSHFT       &cmo Fn
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                  36              37              38                  39              40              41
                                                    &cmo L2         &mt LALT SPACE  &mt LCMD SPACE      &mt RCMD SPACE  &mt RALT SPACE  &cmo L2
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
      >;
    };
  };
};
